@tailwind base;
@tailwind components;
@import "@picocss/pico/css/pico.min.css";
@tailwind utilities;


:root {
  --pico-background-color: #0f0147;
}

.react-loading-skeleton {
    --base-color: #13171f !important;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

[aria-busy=true]:not(input,select,button,textarea,html)::before {
    content: none !important;
}

.primary {

}

.secondary {
    --pico-secondary-background: transparent;
    --pico-secondary-border: white;
}

input:invalid {
    border-color: #d90000;
}