.section {
    @apply relative px-4 py-6 text-center md:px-6 md:py-8 mb-0;

    h1, h2, h3, p {
        @apply max-w-[960px] mx-auto;
    }

    h3 {
        @apply text-xl md:text-2xl text-[#f4f4f4];
    }

    &.hero {
        @apply flex flex-col justify-center items-center min-h-screen md:min-h-[calc(100vh-86px)];
    
        h1, h2, h3 {
            @apply text-center;
        }
    
        h2 {
            @apply font-normal text-xl;
    
            &::after {
                @apply content-none;
            }
        }
    }

    &.hero-compact {
        @apply flex flex-col justify-center items-center;
    
        h1, h2, h3 {
            @apply text-center;
        }
    
        h2 {
            @apply font-normal text-xl mb-4;
    
            &::after {
                @apply content-none;
            }
        }
    }

    h2 {
        @apply border-b-2 border-black mb-12;

        &::after {
            @apply content-[''] w-[50px] h-[5px] bg-[#d90000] mt-1 absolute block left-1/2 translate-x-[-50%];
        }
    }

    .image-overlay {
        @apply absolute w-full h-full z-[-1] top-0 left-0 bg-[#13171f]/60 mix-blend-multiply;
    }
    .video-overlay {
        @apply absolute w-full h-full bg-black/70 z-[-1];
    }
    .video-background {
        @apply absolute top-1/2 left-1/2 w-full h-full object-cover translate-x-[-50%] translate-y-[-50%] z-[-2];
    }

    .testimonials {
        @apply flex flex-wrap justify-center items-stretch;
        .testimonial {
            @apply flex-1 bg-white p-4 rounded min-w-[300px] max-w-[600px] min-h-[208px] md:min-h-[256px] m-4 basis-full md:basis-0;

            h4, blockquote, p {
                @apply text-[var(--pico-background-color)];
            }
        }
    }
    
    .cards {
        @apply flex flex-wrap justify-center items-stretch;
    }
    
    .card {
        @apply flex justify-center items-center flex-1 bg-white p-4 rounded min-w-[300px] max-w-[600px] min-h-[208px] md:min-h-[256px] m-4 basis-full md:basis-0;
        @apply bg-[#f4f4f4];

        h4, blockquote, p {
            @apply text-[var(--pico-background-color)];
        }
    }

    :global {
        .slick-slide {
            > div:first-child {
                @apply flex justify-center;
            }
        }   
    }

    .slider {
        @apply overflow-hidden mb-4;

        .slick-list {
            @apply overflow-hidden;
        }
    }

    .slide {
        @apply font-bold w-full h-full md:min-h-[304.5px];
        @apply flex justify-center items-center #{!important};

        .slide-inner {
            @apply flex justify-center items-center;
        }
    }

    .ctas {
        @apply flex flex-col md:flex-row justify-center gap-x-4 gap-y-4 md:gap-y-0 mt-4;
    }

    &.bg-primary {
        @apply bg-[var(--pico-background-color)];
    }

    &.bg-secondary {
        @apply bg-white;

        h1, h2, h3, h4, p {
            @apply text-[var(--pico-background-color)];
        }

        .slide, .card {
            @apply bg-[var(--pico-color)];
        }
    }

    :global {
        .slick-dots {
            @apply relative bottom-auto;

            li {
                &.slick-active {
                    button {
                        &::before {
                            @apply text-white;
                        }
                    }
                }
                button {
                    &::before {
                        @apply text-white;
                    }
                }
            }
        }
    }
}

.slider-dots {
    @apply relative flex justify-center #{!important};

    li {
        @apply list-none;
    }
}

.secondary-2 {
    color: #0f0147 !important;
    border-color: #0f0147;

    &:hover {
        border-color: var(--pico-secondary-hover-border);
    }
}